@font-face {
    font-family: 'linguagem android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rakesly';
    src: url(fontes/rakesly\ bd.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'rakesly';
    background-image: linear-gradient(#5ef18383, #1B5936);
    color: white;
    text-align: center;
}

header > p {
    text-align: center;
    font-size: larger
    
}

header > h1 {
    font-style: bolder;
}

header > nav {
    background-color: #237446;
    /**/
    text-align: left;
    padding: 5px;
}

header > nav > a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    
}

header > nav > a:hover {
    text-decoration: underline;
}



body {
    margin: 0px;
    background-color: #82D9A0;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

main {
    background-color: white;
    margin: 0px 340px;
    padding: 30px;
}

main > h1, h2 {
    font-family: 'linguagem android';
    color: #1B5936;
    margin-top: 0px;
    
}

h2 {
    background-image: linear-gradient(to right, #8edaa98a, white);
}

main > img {
    margin: auto;
    
}

div {
    text-align: center;
}

div#video {
    background-color:#1B5936;
    padding: 30px;
    width: 95%;
}

p {
    text-indent: 30px;
    text-align: justify;
}

footer {
    text-align: center;
    background-color: #1B5936;
    color: white;
    padding: 1px;
    margin-top: 60px;
    
}

footer > p {
    text-align: center;
}
/*Paleta de Cores::
#1B5936
#82D9A0
#07F242
#F22929
#F2F2F2
/*

